<div class="container">
  <app-search-adventure class="comp1" [instructors]=instructors (AddedInstructor)="findByInstructor($event)"
    (NameAdded)="findByName($event)"
    (AddressAdded)="findByCity($event)"></app-search-adventure>
    <app-reservation-search-form class="comp1" [type]="type"
    (sortByGradeAvailableAdventure)="sortByGradeAvailableAdventure()"
    (sortByPriceAvailableAdventure)="sortByPriceAvailableAdventure()"
    (formIsFillAdventure)="Search($event)"></app-reservation-search-form>
    <app-search-available-entitis class="comp1" [type]="type" (startFindByGradeAvailableAdventure)="findByGradeAvailable($event)"></app-search-available-entitis>
</div>
<app-adventure-card [adventures]=adventures></app-adventure-card>
