<div class="body-wrapper">
    <div class="container content">
  
      <div class="flex">
        <div>
          <h1>{{boat.name}}</h1>
  
          <div>
            <i class="fa fa-map-marker" aria-hidden="true"></i>{{boat.address.street}},{{boat.address.city}}
          </div>
          <div class="full " id="map">
  
          </div>
          <div><strong>Max number of guests: </strong> {{boat.maxPersons}}</div>
          <div><strong>Average grade: </strong>
            <span class="tag is-large mt-5 rating">{{boat.grade}}<i class="ml-1 fa fa-star"></i></span>
          </div>
        </div>
        <br>
  
  
      </div>
      <br>
      <div class="gallery">
        <div class="figure">
          <img id="mainImage" src="{{boat.mainPicture}}">
        </div>
        <!--
        <div id="lightgallery">
  
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
        </div>-->
      </div>
      <br>
      <div>
        <strong>Price (per day):</strong> <span id="price"> {{boat.price}} $</span>
      </div>
      <hr />
      <div>
        <div>
          <div>
            <h2>Description:</h2>
            <p>
              {{boat.description}}
            </p>
          </div>
          <hr>
          <div>
            <h2>About the boat owner:</h2>
            <h3>{{boat.owner.firstName}} {{boat.owner.lastName}} </h3>
            <h4>{{boat.owner.street}}</h4>
          </div>
        </div>
      </div>
      <hr />
      <div class="columns">
      <div class="column">
        <h3>Additional items:</h3>
        <div *ngFor="let a of boat.items">
          <i class="fa fa-check-circle"></i>
          <span> {{a.name}} : {{a.price}} $</span>
        </div>
      </div>
    </div>      
    <hr>
    <div class="columns">
      <div class="column">
        <h3>Navigation Equipment:</h3>
        <div *ngFor="let n of boat.equipment">
          <i class="fa fa-check-circle"></i>
          <span> {{n.name}} </span>
        </div>
      </div>
    </div>      
    <hr>
    <div>
      <h3>Cancellation Policy:</h3>
      <span style="color:darkred">{{boat.cancellationPercentage}} % keeps boat owner</span>
    </div>
  </div>
  
      <!--DIO sa akcijama-->
      <div class="my-5">
        <article class="media " *ngFor="let action of actions">
          <div class="media-content">
            <div class="content">
              <div>
                <p style="font-size:16pt; font-weight: 800;">
                  {{action.boat.name}} <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                    class="fa fa-star"></i>
                </p>
  
                <div>
                  <strong><i class="fa fa-calendar"></i> Start:{{action.validityStart}}</strong>
                  <br />
                  <strong><i class="fa fa-calendar"></i> End: 3 {{action.validityEnd}}</strong>
                  <br />
                  <strong><i class="fa fa-user"></i> {{action.maxPersons}} guests</strong>
                  <br />
                  <strong><i class="fa fa-map-marker"></i>
                    {{action.boat.address.street}},{{action.boat.address.city}}</strong>
                  <div class="column">
                    <span class="tag is-orange" *ngFor="let item of action.additionalItems">{{item.name}}</span>
                  </div>
                  <div class="column">
                    <span class="tag is-orange" *ngFor="let item of action.boat.equipment">{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div class="columnPrice">
                <div style="font-size: 15pt; font-weight: 800;color: rgb(161, 19, 19);">Price: 300$</div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>