<td>{{res.reservationStart}}</td>
<td>{{res.adventure.name}}</td>
<td>{{res.numberOfPersons}}</td>
<td>{{res.price}}</td>
<td *ngIf="rate_adveture_button">
    <button class="btn btn-info"><a [routerLink]="['/rate-instructor',res.adventure.instructor.id]">Rate</a></button>
</td>
<td *ngIf="complaint_adveture_button">
    <button class="btn btn-info"><a [routerLink]="['/complaint-instructor',res.adventure.instructor.id]">Complain</a></button>
</td>
<td *ngIf="delete_adveture_button">
  <button class="btn btn-info">Cancle</button>
</td>
