<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand nav-link" href="">
    Booking site
  </a>
  <a class="navbar-brand nav-link" href="cottages">
    Cottages
  </a>
  <a class="navbar-brand nav-link" href="adventures">
    Adventures
  </a>
  <a class="navbar-brand nav-link" href="boats">
    Boats
  </a>
  <a id="a" class="nav-item nav-link" href="sign-in">
    Sign in
  </a>
  <a class="nav-item nav-link" href="register">
    Register
  </a>
</nav>
<router-outlet></router-outlet>
