<div class="forma">
    <h2 >Search</h2>
    <form class="form-search" (ngSubmit)="findBoatByMotorNumber()">
        <label for="motorNumber">Motor number: </label><br>
        <input name="motorNumber" id="motorNumber" type="text" [(ngModel)]="motorNumber">
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
    <form class="form-search" (ngSubmit)="findBoatByMotorPower()">
        <label for="motorPower">Motor power: </label><br>
        <input name="motorPower" id="motorPower" type="text" [(ngModel)]="motorPower">
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
    <form class="form-search" (ngSubmit)="findByName()">
        <label for="name">Name: </label><br>
        <input name="name" id="name" type="text" [(ngModel)]="name">
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
    <form class="form-search" (ngSubmit)="findByAddress()">
        <label for="name">City: </label><br>
        <input name="name" id="name" type="text" [(ngModel)]="address">
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
</div>
