<div class="body-wrapper">
    <div class="container content">
  
      <div class="container">
        <h1>New Action:</h1>

        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Validity start:</label>
            <input type="date" formControlName="validityStart" class="form-control">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Validity end:</label>
            <input type="date" formControlName="vaidityEnd" class="form-control">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Reservation start date and time:</label>
            <input type="datetime-local" formControlName="reservationStart" class="form-control">
          </div>
  
          <div class="mb-3">
            <label for="city" class="form-label">Duration(days):</label>
            <input type="number" formControlName="city" class="form-control">
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">Number og guests:</label>
            <input type="number" formControlName="state" class="form-control">
          </div>
          <div class="mb-3">
            <div class="mb-3">
              <label for="name" class="form-label">Price:</label>
              <input type="number" formControlName="price" class="form-control">
            </div>
            <label for="maxPersons" class="form-label">Cottage:</label>
            <br>
            <select name="cars" id="cars">
              <option value="volvo">Lucky B Sportfishing</option>
              <option value="saab">The Long Run Sportfishing</option>
              <option value="opel">Reel Floridian Fishing</option>
  
            </select>
          </div>
          <hr>
  
        </form>
  
  
        <div class="column">
          <h3>Additional items:</h3>
          <button mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            Add additional item
          </button>
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Name</th>
  
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of additionalItems;let i = index">
                <td>{{item.name}}</td>
  
                <td>
                  <button class="btn btn-primary" (click)="deleteAdditionalItem(i)" type="button">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
  
  
        </div>
      </div>
  
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Additional Item details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue2">
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input [(ngModel)]="newAdditionalItem.name" type="text" formControlName="name" class="form-control">
                </div>
  
              </form>
            </div>
            <div class="modal-footer">
              <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addAdditionalItem()">Add</button>
            </div>
          </div>
        </div>
      </div>
  
      <button class="col-md-12 " mat-button id="submit">Submit</button>
  
    </div>
  
  
  
  </div>
  