<div class="modal-dialog text-center">
  <div class="modal-content" *ngIf="showForm">
    <h2 class="text-center">Become our member !</h2>
    <form id="loginform" name="loginform">
      <div class="form-group">
        <input id="fistName" name="fistName" type="text" class="from-control" placeholder="firts name"
          [(ngModel)]="newUser.firstName">
      </div>
      <div class="form-group">
        <input id="lastName" name="lastName" type="text" class="from-control" placeholder="last name"
          [(ngModel)]="newUser.lastName">
      </div>
      <div class="form-group">
        <input id="email" name="email" type="text" class="from-control" placeholder="email" [(ngModel)]="newUser.email">
      </div>
      <div class="form-group">
        <input id="state" name="state" type="text" class="from-control" placeholder="state" [(ngModel)]="newUser.state">
      </div>
      <div class="form-group">
        <input id="city" name="city" type="text" class="from-control" placeholder="city" [(ngModel)]="newUser.city">
      </div>
      <div class="form-group">
        <input id="street" name="street" type="text" class="from-control" placeholder="street"
          [(ngModel)]="newUser.street">
      </div>
      <div class="form-group">
        <input id="mobile" name="mobile" type="text" class="from-control" placeholder="mobile"
          [(ngModel)]="newUser.mobile">
      </div>
      <div class="form-group">
        <input id="username" name="username" type="text" class="from-control" placeholder="username"
          [(ngModel)]="newUser.username">
      </div>
      <div class="form-group">
        <input id="password" name="password" type="password" class="from-control" placeholder="password"
          [(ngModel)]="newUser.password">
      </div>
      <div class="form-group">
        <input id="confirmPassword" name="confirmPassword" type="password" class="from-control"
          placeholder=" confirm password" [(ngModel)]="confirmedPassword">
      </div>
      <p class="error">{{ error }}</p>
      <div class="role">
        <h2>Choose role:</h2>
        <div class="toggle-group">
          <div *ngFor="let choice of choices">
            <input type="radio" id="role" name="role" value="{{ choice }}" [(ngModel)]="value"
              (ngModelChange)="choose($event)" />
            <label class="toggle-button" for="{{choice}}">{{ choice }}</label>
          </div>
        </div>
        <div class="form-group" *ngIf="showReason">
          <textarea id="reason" name="reason" type="text" class="from-control" placeholder="Reason for registration"
            [(ngModel)]="registrationRequest.reason"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addNewClient()">Register</button><br>
      </div>

    </form>
  </div>
</div>
<div class="alert alert-success" role="alert" *ngIf="registrated">
  <h1 class="alert-heading">Well done!</h1>
  <h2>Aww yeah, you succeeded. You should go to your email account and check your message.</h2>
  <hr>
  <p class="mb-0">In message you will receive link for activation you account</p>
</div>
<div class="alert alert-success" role="alert" *ngIf="registratedOwner">
  <h1 class="alert-heading">Well done!</h1>
  <h2> Your registration request has been sent to admin it is in process</h2>
  <hr>
  <p class="mb-0">Check your email!</p>
</div>
