<div class="modal-dialog text-center">
  <div class="modal-content">
    <h2 class="text-center">Become our member !</h2>
    <form id="loginform" name="loginform">
      <div class="form-group">
        <input id="fistName" name="fistName" type="text" class="from-control" placeholder="firts name" [(ngModel)]="newUser.firstName">
      </div>
      <div class="form-group">
        <input id="lastName" name="lastName" type="text" class="from-control" placeholder="last name" [(ngModel)]="newUser.lastName">
      </div>
      <div class="form-group">
        <input id="email" name="email" type="text" class="from-control" placeholder="email" [(ngModel)]="newUser.email">
      </div>
      <div class="form-group">
        <input id="state" name="state" type="text" class="from-control" placeholder="state" [(ngModel)]="newUser.state">
      </div>
      <div class="form-group">
        <input id="city" name="city" type="text" class="from-control" placeholder="city" [(ngModel)]="newUser.city">
      </div>
      <div class="form-group">
        <input id="street" name="street" type="text" class="from-control" placeholder="street" [(ngModel)]="newUser.street">
      </div>
      <div class="form-group">
        <input id="mobile" name="mobile" type="text" class="from-control" placeholder="mobile" [(ngModel)]="newUser.mobile">
      </div>
      <div class="form-group">
        <input id="username" name="username" type="text" class="from-control" placeholder="username" [(ngModel)]="newUser.username">
      </div>
      <div class="form-group">
        <input id="password" name="password" type="password" class="from-control" placeholder="password" [(ngModel)]="newUser.password">
      </div>
      <div class="form-group">
        <input id="confirmPassword" name="confirmPassword" type="password" class="from-control" placeholder=" confirm password" [(ngModel)]="confirmedPassword">
      </div>
      <p class="error">{{ error }}</p>
      <button type="submit" class="btn btn-primary" (click)="addNewClient()">Register</button><br>
    </form>
  </div>
</div>
