.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: cadetblue;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  img{
    padding: 25px;
    width: 100%;
    border-radius: 20%;
}
h1,h2,h3{
    text-align: center;
}
#ins{
  text-align: left;
}