<div class="forma">
  <h2>Search for reservation</h2>
  <form class="center">
      <label id="date" for="date">Datum:</label><br/>
      <input  name="date" id="date" type="datetime-local" class="form-control" [(ngModel)]="this.search.dateAndTime"><br/>

      <label id="date" for="num_of_day">Number of days:</label><br/>
      <input id="num_of_day" name="num_of_day" class="form-control"  [(ngModel)]="search.numOfDay"><br/>

      <label id="date" for="num_of_person">Number of persons:</label><br/>
      <input id="num_of_person" name="num_of_person" class="form-control"  [(ngModel)]="search.numOfPerson"><br/>

      <button class="btn btn-primary" (click)="Search1()">Find</button><br/>
      <button type="button" class="btn btn-primary"  (click)="sortByPriceAvailableBoat()">Sort by price</button>
      <button type="button" class="btn btn-secondary" (click)="sortByGradeAvailableBoat()" >Sort by grade </button>
  </form>

</div>
