<app-sort-instructors (SortedByName)="sortBaName()"
                    (SortedByGrade)="sortByGrade()"
                    (SortedByCity)="sortByCity()"></app-sort-instructors>
<div>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>First name</th><th>Last name</th><th>State</th><th>City</th><th>Grade</th><th>Advetures</th>
            </tr>
        </thead>
        <tbody >
			<tr app-instructor-item *ngFor="let instructor of instructors" [instructor]=instructor >    
            </tr>
		</tbody>
    </table>
</div>
