<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Profile">
        <app-client-profile [client]=client></app-client-profile>
    </mat-tab>
    <mat-tab label="Active reservations">
        <app-active-reservations></app-active-reservations>
    </mat-tab>

    <mat-tab label="Instrucotrs">
        <app-instructor-list></app-instructor-list>>
    </mat-tab>

    <mat-tab label="Complaint">
        <app-complaint-form></app-complaint-form>
    </mat-tab>
    <mat-tab label="Subscribe items">
        <h2>Adventures</h2>
        <app-subscribed-adventure-list></app-subscribed-adventure-list>
        <h2>Boats</h2>
        <app-subscribed-boat-list></app-subscribed-boat-list>
        <h2>Cottages</h2>
        <app-subscribed-cottage-list></app-subscribed-cottage-list>
    </mat-tab>

  </mat-tab-group>
