<app-sort-adventure-reservation
                (SortedByDate)="SortedByDate()"    
                (SortedByPrice)="SortedByPrice()"></app-sort-adventure-reservation>
<div>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Date [yyyy,mm,dd,hh,mm]</th><th>Adventure name</th><th>Max persons</th><th>Price [din]</th><th>Rate</th><th>Complain</th>
            </tr>
        </thead>
        <tbody >   
            <tr [complaint_adveture_button]="complaint_adveture_button" [rate_adveture_button]="rate_adveture_button" app-adveture-reservation-item *ngFor="let res of reservations" [res]="res"></tr>
		</tbody>
    </table>
</div>