<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Overview">
    <app-instructor-overview></app-instructor-overview>

  </mat-tab>
  <mat-tab label="Profile">
    <app-instructor-profile [instructor]="instructor" [id]="id"></app-instructor-profile>
  </mat-tab>
  <mat-tab label="My Adventures">
    <app-instructor-adventures [instructor]="instructor" [id]="id"></app-instructor-adventures>
  </mat-tab>
  <mat-tab label="Reservations">
    <app-instructor-reservations [instructor]="instructor" [id]="id"></app-instructor-reservations>
  </mat-tab>
</mat-tab-group>
<div class="modal fade" id="modalReport" aria-labelledby="modalReportLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalReportLabel">Report:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="content" class="form-label">Message:</label>
            <textarea type="text" formControlName="content" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label class="checkbox-inline">Does this client need to be sanctioned?</label><br>
            <input type="checkbox" name="santioned"> Yes

          </div>
          <div class="mb-3">
            <label class="checkbox-inline">Did this client show up?</label><br>
            <input type="checkbox" name="showUp"> No

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>



<!--Za profil tj brisanje profila-->
<div class="modal fade" id="modalDelete" aria-labelledby="modalDeleteLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteLabel">Report:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="content" class="form-label">Explanation:</label>
            <textarea type="text" formControlName="content" class="form-control"></textarea>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
