<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Overview">
    <app-instructor-overview></app-instructor-overview>
  </mat-tab>
  <mat-tab label="Profile">
    <app-instructor-profile [instructor]="instructor" [id]="id"></app-instructor-profile>
  </mat-tab>
  <mat-tab label="My Adventures">
    <app-instructor-adventures [instructor]="instructor" [id]="id"></app-instructor-adventures>
  </mat-tab>
  <mat-tab label="Reservations">
    <app-instructor-reservations [instructor]="instructor" [id]="id"></app-instructor-reservations>
  </mat-tab>
  <mat-tab label="Actions">
    <app-instructor-actions [instructor]="instructor" [id]="id"></app-instructor-actions>

  </mat-tab>
</mat-tab-group>

<!--Modalni prozor za pisanje izvjestaja nakon reservacije-->
<app-instructor-reservation-report></app-instructor-reservation-report>



<!--Modalni prozor za zahtjev za brisanje profila-->
<app-instructor-delete-profile></app-instructor-delete-profile>
