<div class="body-wrapper">
  <div class="container content">
    <div class="container">
      <h1>New Cottage:</h1>
      <!-- Modal -->
      <form [formGroup]="formValue">
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" [(ngModel)]="cottage.name" formControlName="name" class="form-control">
        </div>
        <div class="mb-3">
          <label for="street" class="form-label">Street:</label>
          <input type="text" [(ngModel)]="cottage.address.street" formControlName="street" class="form-control">
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City:</label>
          <input type="text" [(ngModel)]="cottage.address.city" formControlName="city" class="form-control">
        </div>
        <div class="mb-3">
          <label for="state" class="form-label">State:</label>
          <input type="text" [(ngModel)]="cottage.address.state" formControlName="state" class="form-control">
        </div>
        <div class="mb-3">
          <label for="state" class="form-label">Coordinate:Latitude:</label>
          <input type="text" [(ngModel)]="cottage.address.latitude" formControlName="state" class="form-control">
        </div>
        <div class="mb-3">
          <label for="state" class="form-label">Coordinate:Longitude:</label>
          <input type="text" [(ngModel)]="cottage.address.longitude" formControlName="state" class="form-control">
        </div>
        <div class="mb-3">
          <label for="maxPersons" class="form-label">Max number of guests:</label>
          <input type="number" [(ngModel)]="cottage.maxPersons" formControlName="maxPersons" class="form-control">
        </div>
        <div class="mb-3">
          <label for="rooms" class="form-label">Number of rooms:</label>
          <input type="number" [(ngModel)]="cottage.rooms" formControlName="rooms" class="form-control">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input type="number" [(ngModel)]="cottage.price" formControlName="price" class="form-control">
        </div>
        <div class="mb-3">
          <label for="cancellationPercentage" class="form-label">Cancellation Policy(%):</label>
          <input type="number" [(ngModel)]="cottage.cancellationPercentage" formControlName="cancellationPercentage"
            class="form-control">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Promotional description:</label>
          <textarea type="textarea" [(ngModel)]="cottage.description" formControlName="description"
            class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="biography" class="form-label">Choose main picture:</label>
          <input type="file" (change)="onFileChanged($event)">
        </div>
        <div class="mb-3">
          <input type="button" (click)="onUpload()" value="upload">
        </div>
      </form>
    </div>
    <div class="columns">
      <div class="column">
        <h3>Additional items:</h3>
        <button mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          Add additional item
        </button>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of additionalItems;let i = index">
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>
                <button class="btn btn-primary" (click)="deleteAdditionalItem(i)" type="button">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">New additional item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formValue2">
              <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input [(ngModel)]="newAdditionalItem.name" type="text" formControlName="name" class="form-control">
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input [(ngModel)]="newAdditionalItem.price" type="number" formControlName="price" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addAdditionalItem()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3>Cottage Rules:</h3>
        <button mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          Add behavioral rule
        </button>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Rule</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rules; let i=index">
              <td>{{item.rule}}</td>
              <td>
                <button class="btn btn-primary" (click)="deleteRule(i)" type="button">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">New behavioral rule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formValue3">
              <div class="mb-3">
                <label for="rule" class="form-label">Name:</label>
                <input [(ngModel)]="newRule.rule" type="text" formControlName="rule" class="form-control">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addRule()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="col-md-12 " (click)="submit()" mat-button id="submit">Submit</button>
  </div>
</div>
