<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">


    <ul class="list-unstyled components">
      <li>
        <a [ngClass]="{ 'is-active': activeTab === 'CALENDAR' }" (click)="changeTab('CALENDAR')">Calendar
        </a>
      </li>

      <li>
        <a [ngClass]="{ 'is-active': activeTab === 'ANALYTICS' }" (click)="changeTab('ANALYTICS')">Analytics</a>
      </li>
    </ul>
  </nav>
  <div id="content" *ngIf="activeTab=='CALENDAR'">
    <app-instructor-calendar [id]="id"></app-instructor-calendar>
  </div>





  <div id="content" *ngIf="activeTab=='ANALYTICS'">
    <app-instructor-analytics [id]="id"></app-instructor-analytics>
  </div>
