<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Overview">
    <app-admin-overview></app-admin-overview>

  </mat-tab>
  <mat-tab label="Profile">
    <app-admin-profile [admin]="admin" [id]="id"></app-admin-profile>
  </mat-tab>
  <mat-tab label="Requests">


    <app-admin-requests></app-admin-requests>
  </mat-tab>
  <mat-tab label="Users">
    <app-admin-users></app-admin-users>
  </mat-tab>
  <mat-tab label="Entities">
    <app-admin-entities></app-admin-entities>

  </mat-tab>
</mat-tab-group>

<app-admin-reject-request></app-admin-reject-request>
