<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="40px grid">
      <div class="list" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let cottage of cottages">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{cottage.name}}</mat-card-title>
            <mat-card-subtitle>{{cottage.address}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{cottage.mainPicture}}">
          <mat-card-content>
            <p>
              {{cottage.description}}
            </p>
            <br>
            <p id="grade">Grade: {{cottage.name}}</p>
          </mat-card-content>
          <mat-card-actions fxFlexAlign="end">
            <button mat-button><a [routerLink]="['/cottages',cottage.id]">More info ...</a></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
