<div class="body-wrapper">
    <div class="container content">
  
  
      <div class="flex">
        <div>
          <h1>{{boat.name}}</h1>
          <div>
            <i class="fa fa-map-marker" aria-hidden="true"></i>{{boat.address.street}},{{boat.address.city}}
          </div>
          <div class="full " id="map">
  
          </div>
          <div><strong>Max number of guests: </strong> {{boat.maxPersons}}</div>
          <div><strong>Average grade: </strong>
            <span class="tag is-large mt-5 rating">{{boat.grade}}<i class="ml-1 fa fa-star"></i></span>
          </div>
        </div>
        <br>
        <div class="fl">
  
          <button (click)="editInformation()" mat-button class="button is-success is-large" data-bs-toggle="modal"
            data-bs-target="#modalData"><i class="fa fa-pencil"></i> Edit this
            boat</button>
  
        </div>
  
      </div>
      <br>
  
      <div class="gallery">
        <div class="figure">
          <img id="mainImage" src="{{boat.mainPicture}}">
        </div>
        <!--
        <div id="lightgallery">
  
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
          <a href="/assets/adventure/Adventure1.jpg">
            <img src="/assets/adventure/Adventure1.jpg">
          </a>
        </div>-->
      </div>
      <br>
      <div>
        <strong>Price (per day):</strong> <span id="price"> {{boat.price}} $</span>
      </div>
  
      <hr />
  
      <div>
        <div>
          <h2>Description:</h2>
          <p>
            {{boat.description}}
          </p>
        </div>
        <hr>
        <div>
          <h2>About the boat owner:</h2>
          <h3>{{boat.owner.firstName}} {{boat.owner.lastName}} </h3>
          <h4>{{boat.owner.street}}</h4>
        </div>
        <hr>
        <div>
          <h3>Cancellation Policy:</h3>
          <span style="color:darkred">{{boat.cancellationPercentage}} % keeps boat owner</span>
        </div>
  
      </div>
  
  
      <hr />
  
  
      <!-- Modal -->
      <div class="modal fade" id="modalData" tabindex="-1" aria-labelledby="modalDataLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDataLabel">Boat information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue0">
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="street" class="form-label">Street:</label>
                  <input type="text" formControlName="street" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="city" class="form-label">City:</label>
                  <input type="text" formControlName="city" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="state" class="form-label">State:</label>
                  <input type="text" formControlName="state" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="maxPersons" class="form-label">Max number of guests:</label>
                  <input type="number" formControlName="maxPersons" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Price:</label>
                  <input type="number" formControlName="price" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="cancellationPercentage" class="form-label">Cancellation Policy(%):</label>
                  <input type="number" formControlName="cancellationPercentage" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description:</label>
                  <textarea type="textarea" formControlName="description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                  <label for="biography" class="form-label">My biography:</label>
                  <textarea type="textarea" formControlName="biography" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                  <label for="biography" class="form-label">Choose another main picture:</label>
                  <input type="file" (change)="onFileChanged($event)">
                </div>
                <div class="mb-3">
                  <input type="button" (click)="onUpload()" value="upload">
                </div>
  
  
  
  
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" id="cancel0" type="button" data-bs-dismiss="modal">Close</button>
  
              <button class="btn btn-primary" type="button" (click)="update()">Update</button>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h3>Additional items:</h3>
          <button mat-button type="button" class="btn btn-primary" (click)="onAdd()" data-bs-toggle="modal"
            data-bs-target="#modalItem">
            Add additional item
          </button>
          <app-boat-addition-items-edit [items]="boat.items"
            (loadAdditionalItems)="loadAdditionalItems()" [showAdd]="showAdd" [showUpdate]="showUpdate">
          </app-boat-addition-items-edit>
        </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column">
          <h3>Navigation equipment:</h3>
          <button mat-button type="button" class="btn btn-primary" (click)="onAdd()" data-bs-toggle="modal"
            data-bs-target="#modalItem">
            Add navigation equipment
          </button>
          <app-boat-navigation-equipment-edit [equipment]="boat.equipment"
            (loadNavigationEquipment)="loadNavigationEquipment()" [showAdd]="showAdd" [showUpdate]="showUpdate">
          </app-boat-navigation-equipment-edit>
        </div>
      </div>
      <hr>
      <div class="my-5">
        <article class="media " *ngFor="let action of actions">
          <div class="media-content">
            <div class="content">
              <div>
                <p style="font-size:16pt; font-weight: 800;">
                  {{action.boat.name}} <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                    class="fa fa-star"></i>
                </p>
  
                <div>
                  <strong><i class="fa fa-calendar"></i> Start:{{action.validityStart}}</strong>
                  <br />
                  <strong><i class="fa fa-calendar"></i> End: 3 {{action.validityEnd}}</strong>
                  <br />
                  <strong><i class="fa fa-user"></i> {{action.maxPersons}} guests</strong>
                  <br />
                  <strong><i class="fa fa-map-marker"></i>
                    {{action.boat.address.street}},{{action.boat.address.city}}</strong>
                  <div class="columnAction">
                    <span class="tag is-orange" *ngFor="let item of action.additionalItems">{{item.name}}</span>
                  </div>
                  <div class="columnAction">
                    <span class="tag is-orange" *ngFor="let item of action.boat.equipment">{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div class="columnPrice">
                <button mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3">
                  Edit this action
                </button><br><br>
                <div style="font-size: 15pt; font-weight: 800;color: rgb(161, 19, 19);">Price: 300$</div>
  
              </div>
            </div>
          </div>
  
        </article>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modalDataLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDataLabel">Boat information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Validity start:</label>
                  <input type="date" formControlName="validityStart" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Validity end:</label>
                  <input type="date" formControlName="vaidityEnd" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Reservation start date and time:</label>
                  <input type="datetime-local" formControlName="reservationStart" class="form-control">
                </div>
  
                <div class="mb-3">
                  <label for="city" class="form-label">Duration(days):</label>
                  <input type="number" formControlName="city" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="state" class="form-label">Number og guests:</label>
                  <input type="number" formControlName="state" class="form-control">
                </div>
                <div class="mb-3">
                  <div class="mb-3">
                    <label for="name" class="form-label">Price:</label>
                    <input type="number" formControlName="price" class="form-control">
                  </div>
  
                </div>
                <hr>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" id="cancel0" type="button" data-bs-dismiss="modal">Close</button>
  
              <button class="btn btn-primary" type="button" (click)="update()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>