<div class="body-wrapper">
  <div class="container content">

    <div class="flex">
      <div>
        <h1>{{adventure.name}}</h1>
        <div>
          <i class="fa fa-map-marker" aria-hidden="true"></i>{{adventure.address.street}},{{adventure.address.city}}
        </div>
        <div><strong>Max number of guests: </strong> {{adventure.maxPersons}}</div>
        <div><strong>Average grade: </strong>
          <span class="tag is-large mt-5 rating">{{adventure.averageGrade}}<i class="ml-1 fa fa-star"></i></span>
        </div>
      </div>
      <br>


    </div>
    <br>
    <div class="gallery">
      <div class="figure">
        <img id="mainImage" src="{{adventure.mainPicture}}">
      </div>
      <div id="lightgallery">

        <a href="/assets/adventure/Adventure1.jpg">
          <img src="/assets/adventure/Adventure1.jpg">
        </a>
        <a href="/assets/adventure/Adventure1.jpg">
          <img src="/assets/adventure/Adventure1.jpg">
        </a>
        <a href="/assets/adventure/Adventure1.jpg">
          <img src="/assets/adventure/Adventure1.jpg">
        </a>
      </div>
    </div>
    <br>
    <div>
      <strong>Price (per day):</strong> <span id="price"> {{adventure.price}} $</span>
    </div>





    <hr />
    <div>
      <div>
        <div>
          <h2>Description:</h2>
          <p>
            {{adventure.description}}
          </p>
        </div>
        <hr>
        <div>
          <h2>About the instructor:</h2>
          <h3>{{adventure.instructor.firstName}} {{adventure.instructor.lastName}} </h3>
          <h4>{{adventure.instructor.street}}</h4>
          <p>
            {{adventure.instructor.biography}} </p>
        </div>
      </div>
    </div>
    <hr />

    <div class="columns">
      <div class="column">
        <h3>Fishing equipment:</h3>
        <div *ngFor="let e of adventure.equipment">
          <i class="fa fa-check-circle"></i>
          <span> {{e.name}}</span>
        </div>
      </div>
      <hr>
      <div class="column">
        <h3>Additional items:</h3>
        <div *ngFor="let a of adventure.additionalItems">
          <i class="fa fa-check-circle"></i>
          <span> {{a.name}} : {{a.price}} $</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">
        <h3>Boat Rules:</h3>
        <div *ngFor="let r of adventure.rules">
          <i class="fa fa-exclamation-circle"></i>
          <span> {{r.rule}}
          </span>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <h3>Cancellation Policy:</h3>
      <span style="color:darkred">{{adventure.cancellationPercentage}} % keeps instructor</span>
    </div>

    <!--DIO sa akcijama-->
    <div class="my-5">
      <article class="media ">

        <div class="media-content">
          <div class="content">
            <div>
              <p style="font-size:16pt; font-weight: 800;">
                Happy trip <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </p>

              <div>
                <strong><i class="fa fa-calendar"></i> Start: 25/12/2021 08:00</strong>
                <br />
                <strong><i class="fa fa-calendar"></i> Duration: 3 days</strong>
                <br />
                <strong><i class="fa fa-user"></i> 2 guests</strong>
                <br />


                <strong><i class="fa fa-map-marker"></i> North Roosevelt Boulevard,Key West</strong>
                <div class="column">
                  <span class="tag is-orange">Kitchen</span>
                  <span class="tag is-orange">GPS</span>
                  <span class="tag is-orange">Free Wi-Fi</span>
                </div>
              </div>


            </div>
            <div class="columnPrice">


              <div style="font-size: 15pt; font-weight: 800;color: rgb(161, 19, 19);">Price: 300$</div>
              <small>Offer expires in 2 days!</small>



            </div>
          </div>
        </div>
      </article>
    </div>




  </div>






</div>
