
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Overview">
    <app-cottage-owner-overview></app-cottage-owner-overview>
  </mat-tab>
  <mat-tab label="Profile">
    <app-cottage-owner-profile [cottageOwner]="cottageOwner" [id]="id"></app-cottage-owner-profile>
  </mat-tab>
  <mat-tab label="My cottages">
    <app-cottage-owner-cottages [cottageOwner]="cottageOwner" [id]="id"></app-cottage-owner-cottages>
  </mat-tab>
  <mat-tab label="Reservations">
    <app-cottage-owner-reservations [cottageOwner]="cottageOwner" [id]="id"></app-cottage-owner-reservations>
  </mat-tab>
  <mat-tab label="Action">
    <app-cottage-owner-actions [cottageOwner]="cottageOwner" [id]="id"></app-cottage-owner-actions>

  </mat-tab>
</mat-tab-group>
<!--Modalni prozor za pisanje izvjestaja nakon reservacije-->
<app-cottage-owner-reservation-report></app-cottage-owner-reservation-report>

<!--Modalni prozor za zahtjev za brisanje profila-->
<app-cottage-owner-delete-profile [cottageOwner]="cottageOwner" [id]="id"></app-cottage-owner-delete-profile>
