<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">


    <ul class="list-unstyled components">
      <li>
        <a [ngClass]="{ 'is-active': activeTab === 'ACTIVE' }" (click)="changeTab('ACTIVE')">Active
        </a>
      </li>

      <li>
        <a [ngClass]="{ 'is-active': activeTab === 'UPCOMING' }" (click)="changeTab('UPCOMING')">Upcoming </a>
      </li>
      <li>
        <a [ngClass]="{ 'is-active': activeTab === 'COMPLETED' }" (click)="changeTab('COMPLETED')">Completed</a>
      </li>
    </ul>


  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div *ngIf="activeTab == 'ACTIVE'">
      <app-instructor-active-reservations [id]="id"></app-instructor-active-reservations>
    </div>
    <div *ngIf="activeTab == 'UPCOMING'">
      <app-instructor-upcoming-reservations [id]="id"></app-instructor-upcoming-reservations>
    </div>
    <div *ngIf="activeTab == 'COMPLETED'">
      <app-instructor-completed-reservations [id]="id"></app-instructor-completed-reservations>
    </div>


  </div>
</div>
