<div class="container">
  <app-search-boat class="comp1" (MotorNumberAdded)="findBoatByMotorMuber($event)"
(MotorPowerAdded)="findBoatByMotorPower($event)"
(AddressAdded)="findByCity($event)"
(NameAdded)="findByName($event)"></app-search-boat>
<app-reservation-search-form *ngIf="visiable_sort_button" class="comp1" (formIsFill)="Search($event)" [type]="type"
  (sortByGradeAvailable)="sortByGradeAvailableBoat()" (sortByPriceAvailable)="sortByPriceAvailableBoat()"
></app-reservation-search-form>
<app-search-available-entitis *ngIf="visiable_sort_button" class="comp1" [type]="type"
(startFindByGradeAvailableBoat)="findByGradeAvailable($event)"
(startFindByPriceAvailableBoat)="findByPriceAvailable($event)"

></app-search-available-entitis>
</div>
<app-sort-boats *ngIf="visiable_sort_button" (SortedByName)="sortByName()"
              (SortedByGrade)="sortByGrade()"
              (SortedByCity)="sortByCity()"></app-sort-boats>
<app-boat-list-item [boats]=boats ></app-boat-list-item>
