<ul class="nav justify-content-center  ">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['adventures']">
      Overview
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['cottages']">
      Profile
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['projects']">
      My Adventures
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link " [routerLink]="['goals']">
      Reservations
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['dashboard']">
      Actions
    </a>
  </li>
</ul>
