<div class="container">
    <div class="row">
      <div class="col-sm"><br>
        <h2>Chose complaint category</h2>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Cottage</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Boat</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Cottage owner</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Boat owner</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Instructor</label>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <br>
            <h2>Compaint is for: </h2>
            <select class="btn btn-primary" name="cars" id="cars" >
                <option >Chose</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <br>
            <h2>Write yor opinion :)</h2>
            <textarea>Some text...</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"><br>
            <button id="submit" class="btn btn-primary">Send you complaint</button>
        </div>
    </div>
  </div>