<div class="container">
  <br>
  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Reason</th>


        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>


        <td>
          Michael
        </td>
        <td>
          Watson
        </td>
        <td>Have many adventures to show!</td>


        <td>Instructor</td>
        <td><button mat-button id="accept">Accept</button></td>
        <td><button mat-button id="reject">Reject</button></td>

      </tr>

      <tr>


        <td>
          Anna
        </td>
        <td>
          Roberts
        </td>
        <td>My boats are popular</td>


        <td>Boat owner</td>
        <td><button mat-button id="accept">Accept</button></td>
        <td><button mat-button id="reject">Reject</button></td>

      </tr>
      <tr>


        <td>
          Maria
        </td>
        <td>
          Gomez
        </td>
        <td>I would like to have profile on this platform</td>


        <td>Cottage owner</td>
        <td><button mat-button id="accept">Accept</button></td>
        <td><button mat-button id="reject">Reject</button></td>

      </tr>

    </tbody>
  </table>
</div>
