<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Adventure name</th>

      <th scope="col">Client</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

      <td>
        2021-12-6 14:00:00
      </td>
      <td>

        2021-12-20 13:0:00
      </td>
      <td>The Long Run Sportfishing</td>

      <td>Ana Anic</td>
      <td><button mat-button [routerLink]="['/instructor/reservations',1]"><a>View Client</a></button>
      </td>
      <td> <button mat-button [routerLink]="['reservation-add']"><a> Add new
            reservation</a></button></td>

    </tr>
  </tbody>
</table>
