<div class="container">
  <div class="center" id="comp1" >
    <h1>{{cottage.name}}</h1>
    <img src="{{cottage.mainPicture}}">
    <h2>Description: {{cottage.description}}</h2>
    <h2>Average grade: {{cottage.grade}}</h2>
    <h2>Price per day: {{cottage.price}} $</h2>
    <h2>Max person: {{cottage.maxPersons}}</h2>
    <h2>Address:</h2>
    <h3>State: {{cottage.address.state}}</h3>
    <h3>City: {{cottage.address.city}}</h3>
    <h3>Street: {{cottage.address.street}}</h3>
  </div>
  <div class="center">
    <h2>Information about cottage owner</h2>
    <h3 id="ins">First name: {{cottage.cottageOwner.firstName}}</h3>
    <h3 id="ins">Last name: {{cottage.cottageOwner.lastName}}</h3>
    <h3 id="ins">Username: {{cottage.cottageOwner.username}}</h3>
    <h3 id="ins">Mobile: {{cottage.cottageOwner.mobile}}</h3>
    <button *ngIf="visiable_sort_button" class="btn btn-success"><a [routerLink]="['/cottage-actions',cottage.id]">View actions</a></button>
    <button *ngIf="visiable_sort_button" class="btn btn-success" (click)="subscribe()">Subscribe</button>
  </div>
  <br>
  <div  id="comp2">
    <h2 *ngIf="visiable_sort_button">Additional items</h2>

    <app-additional-item-boat-list  [visable_button]="visiable_sort_button"  (addedOneAdditioanlItem)="addAdditionalItem($event)"></app-additional-item-boat-list>
   <!-- <h3>Total price of added additioanl items: {{price}} $</h3>-->

  </div>
  <app-search-parametars-for-reservation *ngIf="visiable_sort_button" id="comp3" [type]="type"  [additionalItems]="additionalItems" [boatPrice]="cottage.price" [cottage]="cottage"  [additionalItem]="additionalItem" [additionalItemPrice]="price" ></app-search-parametars-for-reservation>
</div>


