<div class="container">
  <h2>Define the time period of earnings:</h2>
  <form [formGroup]="formValue">
    <div class="mb-3">
      <label for="startTime" class="form-label">Start date and time:</label>
      <input type="datetime-local" formControlName="startTime" [(ngModel)]="period.start" class="form-control">
    </div>

    <div class="mb-3">
      <label for="endTime" class="form-label">End date and time:</label>
      <input type="datetime-local" formControlName="endTime" [(ngModel)]="period.end" class="form-control">
    </div>
    <button mat-button (click)="submit()">Submit</button>

  </form>
  <br>
  <div class="mb-3">
    <h1>Total amount of earnings in seletced period: {{earningPeriod}} $</h1>
  </div>
  <hr>
</div>
<div class="content">
  <div class="cards ">
    <div class="card text-center">
      <div class="card-header">
        Average grade
      </div>
      <div class="card-body">
        <p class="card-text">{{averageGrade}}</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Total earnings
      </div>
      <div class="card-body">
        <p class="card-text">{{total}} $</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Avg.reservation earning
      </div>
      <div class="card-body">
        <p class="card-text">{{average}} $ </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="trueYear()">Year</button>
    <button type="button" class="btn btn-primary" (click)="trueMonth()">Month</button>
    <button type="button" class="btn btn-primary" (click)="trueWeek()">Week</button>
  </div>



  <div *ngIf="yearView">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
    </div>
  </div>
  <div *ngIf="monthView">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
    </div>
  </div>
  <div *ngIf="weekView">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels3" [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
    </div>
  </div>

</div>
