<div class="container">
<app-search-cottage class="comp1"  (NameAdded)="findCottageByName($event)" (AddressAdded)="findCottageByAddress($event)"></app-search-cottage>

                    <app-reservation-search-form *ngIf="visiable_sort_button"  class="comp1" [type]="type" (sortByGradeAvailableCottage)="sortByGradeAvailableCottage()"
                    (sortByPriceAvailableCottage)="sortByPriceAvailableCottage()"
                    (formIsFillCottage)="Search($event)"></app-reservation-search-form>
</div>
<app-sort-cottages *ngIf="visiable_sort_button" (SortedByName)="sortByName()"
                    (SortedByGrade)="sortByGrade()"
                    (SortedByCity)="sortByCity()"></app-sort-cottages>
<app-cottage-list-item [cottages]="cottages" ></app-cottage-list-item>

